nav{
    text-align: center;
}
nav a {
    margin-right: 55px;
    font-size: 25px;
    text-decoration: none;
    color: rgb(154, 111, 154);
}

nav a:hover{
    color: blue;
    transition: 2s;
    transform: translateY(90px);
}